doctype html

html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    style!= require('./layout.sass').default.toString()
  body
    .react-root
    each js in htmlWebpackPlugin.files.js
      script(src=js)
