// http://www.color-hex.com/color-palette/5452
$color-secondary-text: #666
$color-green: #5cb85c
$color-theme: $color-green
$color-white: #f9f9f9
$color-red: #d9534f
$color-accent: $color-red
$color-blue: #428bca
$color-lightblue: #5bc0de

body
  margin: 0
  padding: 0

.leafvote
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  width: 100vw
  height: 100vh

  .topbar
    flex-shrink: 0
    flex-grow: 0
    border-bottom: dashed 1px $color-accent
    padding: 0.4rem 0.5rem
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    justify-content: flex-start
    align-items: center
    transition: background-color 200ms

    .logo
      flex-grow: 0
      flex-shrink: 0
      font-family: serif
      font-size: 1.2rem
      b
        color: $color-theme
        font-weight: bold
        font-style: italic

    .dash
      flex-shrink: 0
      flex-grow: 0
      padding: 0 0.5rem
      color: $color-secondary-text

    &.presenting
      background-color: darken($color-blue, 15%)
      border-bottom: none
      color: white !important
      *
        color: white !important
        *
          color: white !important

    .connection
      flex-shrink: 0
      flex-grow: 0
      margin-right: auto
      &.error
        color: $color-red
      &.disconnected
        color: $color-secondary-text
      &.ready
        color: $color-green

    .id
      padding: 0 0.5rem
    .logout, .exitpresentation
      padding: 0 0.5rem
      color: $color-accent
      cursor: pointer
    .showonly3
      cursor: pointer
      margin-right: 1rem

  .view
    flex-grow: 0
    flex-shrink: 1
    margin-top: auto
    margin-bottom: auto
    overflow: auto
    padding-top: 1rem
    padding-bottom: 6rem
    transition: background-color 200ms
  .view.login
    text-align: center
    h1
      font-weight: normal
      margin: 0 auto 3rem auto
      font-size: 2rem
      color: $color-theme
    .section
      font-size: 1.5rem
      margin: 0.5rem auto
      padding: 1rem 1.5rem
      cursor: pointer
      height: auto
      &.voter
        color: $color-blue
      &.manager
        color: $color-accent
      &.unselected
        max-width: 12rem
        &:hover
          background-color: rgba($color-secondary-text, 0.2)
      &.selected
        max-width: 50rem
        background-color: rgba($color-secondary-text, 0.2)
        text-align: left
        div
          color: black
          font-size: 1rem
        .inputcontain
          margin-top: 0.2rem
          margin-bottom: 0.2rem
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          align-items: stretch
          input
            flex-grow: 1
            flex-shrink: 1
            background-color: transparent
            border-top: none
            border-left: none
            border-right: none
            outline: none
            border-bottom: solid $color-accent 2px
            font-size: 1.1rem
          .enter
            flex-grow: 0
            flex-shrink: 0
            background-color: $color-accent
            color: $color-white
            padding-left: 0.5rem
            padding-right: 0.5rem
        .loading
          text-align: center
          padding: 0.5rem 1rem
        .error
          color: $color-red
          padding: 0.1rem
          text-align: left
          font-size: 0.9rem
        .createbtn
          color: $color-accent

  .view.manager
    .createpoll
      background-color: $color-theme
      color: $color-white
      font-size: 1.2rem
      cursor: pointer
      padding: 0.2rem 0.6rem
      margin: 0.2rem auto
      width: 15rem
      text-align: center
    .pollCreationError
      color: $color-red
    > .empty, > .loading, > .pollCreationError, > .pollsListError
      text-align: center
    > .empty, > .loading, > .pollsListError
      margin-top: 2rem
    > .empty
      color: $color-secondary-text
    > .pollsListError
      color: $color-red
    > .selectingvoterimportprompt
      text-align: center
      padding: 0.5rem
      .cancel
        background-color: $color-red
        color: $color-white
        text-align: center
        padding: 0.5rem
        margin: 0.5rem
        display: inline-block
        cursor: pointer

    .poll
      display: flex
      flex-direction: column
      flex-wrap: nowrap
      align-items: stretch
      max-width: 60rem
      margin: 1.5rem auto
      border: dashed $color-lightblue 2px
      padding: 0.4rem 0.6rem
      .top, .bottom
        display: flex
        flex-direction: row
        flex-wrap: wrap
        align-items: center
        flex-grow: 0
        flex-shrink: 0
      .top
        .labelcontain
          flex-grow: 1
          flex-shrink: 1
          input, div
            border: none
            outline: none
            background-color: transparent
            width: 100%
            font-size: 1.5rem
        .delete
          flex-grow: 0
          flex-shrink: 0
          color: $color-red
          cursor: pointer
      .selectingtothis
        padding-left: 1rem
      .bottom
        align-items: center
        .btn
          font-size: 1rem
          color: $color-green
          padding: 0.3rem 0.5rem
          margin: 0 0.5rem
          cursor: pointer
          &.disabled
            color: #999
            cursor: default
        .opNumber
          width: 5rem
        .opDoing
          color: $color-secondary-text
        .error
          color: $color-red
        .filter
          width: 15rem
      .voters
        &.loading, &.error, &.empty
          text-align: center
          margin: 0.2rem
        &.loading, &.empty
          color: $color-secondary-text
        &.error
          color: $color-red
        &.doing
          opacity: 0.5
          pointer-events: none
        &.list
          display: flex
          flex-direction: row
          flex-wrap: wrap
          align-items: stretch
          justify-content: center
          overflow: auto
          max-height: 70vh
          .voter
            flex-grow: 0
            flex-shrink: 0
            padding: 0.5rem 1rem
            font-size: 0.8rem
            border: solid 1px $color-lightblue
            background-color: $color-white
            width: 15rem
            display: flex
            flex-direction: row
            flex-wrap: nowrap
            .secret, .btns
              flex-shrink: 0
              flex-grow: 0
            .btns
              margin-left: auto
              .btn
                cursor: pointer
                color: $color-theme
      .optionseditor
        height: 10rem
        textarea
          width: 100%
          height: 100%
          margin: 0
          resize: none
          font-size: 1.1rem
          line-height: 1.5

  .view.voter
    .loading
      color: $color-secondary-text
      font-size: 1rem
      text-align: center
    .poll
      border: dashed 2px $color-lightblue
      padding: 1rem
      margin: 1rem auto
      max-width: 800px
      .error
        font-size: 1.2rem
        color: $color-red
      .label
        font-size: 2rem
        color: $color-theme
      .status
        color: $color-blue
        font-size: 0.8rem
        padding: 0.1rem 0.3rem
      .option
        padding: 1rem
        margin: 0.5rem
        border: $color-secondary-text solid 1px
        cursor: default
        &.votedthis
          color: $color-theme
          border: $color-theme solid 1px
          &.pending
            color: inherit
            background-color: rgba($color-theme, 0.1)
        &.notthis
          color: $color-secondary-text
          border: none
      &.inactive
        .label
          color: $color-secondary-text
        .option
          opacity: 0.6

  .view.presentation
    flex-grow: 1
    background-color: $color-blue
    color: white
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    text-align: center
    align-content: center

    .label
      margin-top: auto
      font-size: 3rem
    .loading
      margin-top: auto
      margin-bottom: auto
      font-size: 1rem
      color: rgba(white, 0.8)
    .nonactive, .instructions
      margin-top: 1rem
      font-size: 1.2rem
    .nonactive
      background-color: white
      color: $color-blue
      padding: 1rem
    .instructions
      max-width: 1200px
      margin-left: auto
      margin-right: auto
      p
        margin: 0
        padding: 0.3rem
      .url
        font-family: monospace
        font-size: 120%
    .chart
      margin-top: auto
      position: relative
      overflow: hidden
      margin: auto
      *
        position: absolute
      .label
        font-size: 1.3rem
        text-align: right
      .fill
        background-color: rgba(white, 0.8)
      .value
        font-size: 1rem
        text-align: left
        padding: 0 0 0 10px
  .view.presentation2
    flex-grow: 1
    background-color: $color-blue
    color: white
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    text-align: left
    align-content: flex-start

    .label
      text-align: center
      padding: 0.5rem
      .title
        font-size: 1.5rem
      .desc
        font-size: 1rem

    .results
      .candidate
        margin-bottom: 1rem
        .nameline
          width: 90%
          display: flex
          flex-direction: row
          flex-wrap: nowrap
          align-items: center
          .name
            flex-grow: 1
            flex-shrink: 1
            font-size: 2rem
          .count
            flex-grow: 0
            flex-shrink: 0
            text-align: right
            font-size: 1.5rem
        .bar
          width: 90%
          height: 15px
          .fill
            height: 100%
            background-color: white
            margin: 0
            padding: 0
        .nameline, .bar
          margin-left: auto
          margin-right: auto
    .showingonly3
      font-size: 1rem
      text-align: center
      padding: 1rem
